body{
    margin-left:0px;
    margin-right:0px;
    
}

.rc1{
    width:100%;
    height:91px;
   background-color:#F0F1F3;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
}
.bmt{
    position:absolute;
    left:780px;
    top:35px;
    color: #E5E5E5;
    cursor: pointer;
}
input{
        
    height:28px;
    width:90%;
    padding:0px 9px;
}
.man{
    position:absolute;
    left:443px;
    width:350px;
    height:15px;
    top:35px;
    
    
    }
    #a{
        position:absolute;
        left:910px;
        top:46px;
        cursor: pointer;
    } 
    #b{
        position:absolute;
        top:47px;
        right:337px;
    }
    #c{
        position: absolute;
        left:1027px;
        top:50px;
        cursor: pointer;
    }
    #d{
        position: absolute;
        right:195px;
        top:47px;
    }
    .bt{
        color:black;
        position:absolute;
        right:145px;
        top:44px;
        cursor: pointer;
    }
    .mmw{
        position:absolute;
        left:184px;
        top:22px;
    }
    .lkl{
        position:absolute;
        left:143px;
        top:45px;
    }
    .ffr{
        position:absolute;
        left:150px;
        top:22px;
    }
    .kll{
        position:absolute;
        left:70px;
        top:24px;
    }
 
      .rc2{
        width:100%;
        height:61px;
        margin-top: 91px;
        background-color:#233A6C;
        position:absolute;
        font-style: normal;
        font-weight: 200;
        left:0px;
        top:0px;
        right:0px;
        text-align: center;
    }
    
    .navbar li{
        color:white;
        display:inline-block;
    }
    .navbar li a{
        color:white;
        text-decoration: none;
        padding: 34px 23px;
        display: inline;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        }
    
    .navbar li a:hover{
        text-decoration: black;
    }
        .rc3{
            position:absolute;
            width:197px;
            height:835px;
            top:170px;
            left:108px;
            background-color:#E5E5E5;
        }
        .rc3 h3{
            position:absolute; 
            left:15px;
            color:#140DAF;
            font-style: normal;
            
        }
        .rc3 h5{
            position:absolute;
            left:120px;
            color:#233A6C;
            font-style: normal;
        
        }
        .rc3 img{
            position: absolute;
            top:60px;
            left:15px;
        }
        .nam{
            position:absolute;
            left:5px;
            width:180px;
            height:5px;
            top:90px;
            
            }
            .bnt{
                position:absolute;
                top:95px;
                left:12px;
            }
            .nam input{
                position:absolute;
                height:25px;
                padding:0px 7px;
                left:5px;
                width:92%;
 }
.lkj input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:130px;
    right:135px;
}
.nk input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:155px;
    right:135px; 
}
.lo input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:180px;
    right:135px;
}
.vb input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:205px;
    right:135px; 
}
.az input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:230px;
    right:135px;
}
.aq input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:255px;
    right:135px;
}
.lkj img{
    position:absolute;
    top:135px;
    left:35px;
    cursor: pointer;
}.nk img{
    position:absolute;
    top:158px;
    left:35px;
    cursor: pointer;
}
.lo img{
    position:absolute;
    top:182px;
    left:35px;
    cursor: pointer;
}
.vb img{
    position:absolute;
    top:207px;
    left:35px;
    cursor: pointer;
}
.az img{
    position:absolute;
    top:232px;
    left:35px;
    cursor: pointer;
}
.aq img{
    position:absolute;
    top:258px;
    left:35px;
    cursor: pointer;
}
.er img{
    position: absolute;
    left:170px;
    top:145px;
}
.tj img{
    position:absolute;
    top:300px;
}
.bst{
    position:absolute;
    top:335px;
    left:13px;
}
.aqe{
    position:absolute;
    left:5px;
    width:180px;
    height:4px;
    top:328px;
    }

    .aqe input{
        position:absolute;
        height:25px;
        padding:0px 7px;
        left:5px;
        width:92%;
}
.lvj input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:370px;
    right:135px;
}
.nq input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:395px;
    right:135px; 
}
.lx input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:420px;
    right:135px;
}
.vc input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:445px;
    right:135px; 
}
.ar input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:470px;
    right:135px;
}
.eq input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:495px;
    right:135px;
}
.lvj img{
    position:absolute;
    top:373px;
    left:35px;
    cursor: pointer;
}.nq img{
    position:absolute;
    top:398px;
    left:35px;
    cursor: pointer;
}
.lx img{
    position:absolute;
    top:423px;
    left:35px;
    cursor: pointer;
}
.vc img{
    position:absolute;
    top:448px;
    left:35px;
    cursor: pointer;
}
.ar img{
    position:absolute;
    top:473px;
    left:35px;
    cursor: pointer;
}
.eq img{
    position:absolute;
    top:498px;
    left:35px;
    cursor: pointer;
}
.zr img{
    position:absolute;
    left:170px;
    top:385px;
}
.bnn img{
    position:absolute;
    top:530px;
}
.abc{
    position:absolute;
    top:565px;
    left:13px;
}
.abb{
    position:absolute;
    left:5px;
    width:180px;
    height:4px;
    top:560px;
    }

    .abb input{
        position:absolute;
        height:25px;
        padding:0px 7px;
        left:5px;
        width:92%;
}
.xyx input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:600px;
    right:135px;
}
.xyt input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:625px;
    right:135px; 
}
.xjj input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:650px;
    right:135px;
}
.xxa input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:675px;
    right:135px; 
}
.xaz input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:700px;
    right:135px;
}
.xaq input{
    position:absolute;   
    height:15px;
    width:40%;
    padding:0px 4px;
    top:725px;
    right:135px;
}

 .xyx img{
    position:absolute;
    top:602px;
    left:35px;
    cursor: pointer;
}.xyt img{
    position:absolute;
    top:627px;
    left:35px;
    cursor: pointer;
}
.xjj img{
    position:absolute;
    top:652px;
    left:35px;
    cursor: pointer;
}
.xxa img{
    position:absolute;
    top:677px;
    left:35px;
    cursor: pointer;
}
.xaz img{
    position:absolute;
    top:702px;
    left:35px;
    cursor: pointer;
}
.xaq img{
    position:absolute;
    top:728px;
    left:35px;
    cursor: pointer;
}
.gr img{
    position:absolute;
    left:170px;
    top:620px;
}
.swe img{
    position:absolute;
    top:55px;
    left:165px;
}
.pot img{
    position:absolute;
    top:295px;
    left:165px;
}
.qwe img{
    position:absolute;
    top:525px;
    left:165px;
}
.rn4 img{
    position:absolute;
    top:190px;
    left:350px;
}
.rn5 img{
    position: absolute;
    top:215px;
    left:350px;
}
.rn6 img{
   position:absolute;
   top:215px;
   left:560px;
}
.rn7 img{
    position:absolute;
    top:250px;
    left:560px;
}
.rn8 img{
    position:absolute;
    top:253px;
    left:675px;
}
.rn9 img{
    position:absolute;
    top:253px;
    left:663px;
}
.rn10{
    position:absolute;
    top:273px;
    left:563px;
    cursor: pointer;
}
.rn11 img{
    position:absolute;
    top:300px;
    left:562px;
    cursor:pointer;
}
.rn12 img{
    position: absolute;
    top:300px;
    left:750px;
    cursor:pointer;
}
.rn13 img{
    position:absolute;
    top:300px;
    left:942px;
    cursor:pointer;
}
.rn14 img{
    position:absolute;
    top:300px;
    left:1134px;
    cursor:pointer;
}
.rn11 h4{
    position:absolute;
    top:375px;
    left:600px;
    color:#2B9348;
}
.rn12 h4{
    position:absolute;
    top:375px;
    left:795px;
    color:#2B9348;
}
.rn13 h4{
    position:absolute;
    top:375px;
    left:990px;
    color:#2B9348;
}
.rn14 h4{
    position:absolute;
    top:375px;
    left:1190px;
    color:#2B9348;
}
.rn15 img{
    position:absolute;
    top:450px;
    left:330px;
}
.re15 img{
    position:absolute;
    top:451px;
}
.re16 {
    position:absolute;
    top:10px;
    left:15px;
}
.re17{
    position: absolute;
    top:10px;
    left:110px;
}
.re18{
    position:absolute;
    top:10px;
    left:260px;
}
.re19{
    position:absolute;
    top:5px;
    left:230px;
}
.re20{
    position:absolute;
    top:7px;
    left:785px;
}
.pb{
    position:absolute;
    left:385px;
    top:35px;
}
.pb1{
    position:absolute;
    top:6px;
    left:12px;
    cursor: pointer;
}
.pb2{
    position:absolute;
    top:5px;
    left:32px;
    cursor: pointer;
}

            
            


        